.baseDir*
.bowerrc
.DS_Store
.editorconfig
.git/
.gitignore
.npmignore
.tm_properties
.tscache/
bin/
bower_components/
bower.json
config/
Gruntfile.js
logo.svg
node_modules/
npm-debug.log
src/
typings/
