<link href="{{ imports.polymer }}" rel="import">

{{# imports.additional }}
  <link href="{{ . }}" rel="import">
{{/ imports.additional }}

<dom-module id="{{ id }}">
  <template>
    {{# style }}
      <style>{{{ style }}}</style>
    {{/ style }}

    {{# markup }}
      {{{ markup }}}
    {{/ markup }}
  </template>

  <script>{{{ script }}}</script>
</dom-module>
